<!DOCTYPE html>
<html>

<head>
<title>Dilela Online</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</head>


<body>
{{template "navbar.html"}}
<div class="category-main">
	<h2>Houses</h2>
	<div class="category-container">
	<div class="category-side">
		<nav class="navbar navbar-expand-sm">
			<ul class="category-navlist list-unstyled">
				<li class="nav-item">Category 1</li>
				<li class="nav-item">Category 2</li>
				<li class="nav-item">Category 3</li>
				<li class="nav-item">Category 4</li>
				<li class="nav-item">...</li>

			</ul>

		</nav>
	</div>
	<div class="category-products">
		<h3>Category 1</h3>
		<div class="Product">
			<ul class="ProductList list-unstyled">
				<div class="listbox">
					{}
					<li class="">
						<a href="#">
						<div class="product">
							<img src="assets\images\img1.jpg" alt="houseImage">
							<p>$500</p>
						</div>
						</a>
					</li>
									
					</div>
			</ul>
		</div>
		</div>

	</div>
</div>

{{template "footer.html"}}
</body>



</html>
