<!DOCTYPE html>
<html>

<head>
<title>Dilela Online</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</head>


<body>
<header>

<nav class="navbar navbar-dark bg-primary">
	<div class="navbar-header">
		<a href="index.html">
			<img class="img-fluid navbar-brand" src="assets/images/logo.png" alt="logo" height="70px">
		</a>
	</div>
	<!--
	<div>
	</div>
	!-->
	<form class="navbar-form navbar-left" method="get" action="/" role="search">
			<input type="text" class="form-control" placeholder="search">
			<button type="submit" class="btn btn-light">search</button>
	</form>

	<div class="shoppingCard">cart</div>
	<a href="signIn.html"><button class="btn btn-light navbar-btn" type="button">Sign in</button></a>

	<button class="btn btn-light navbar-btn float-right" type="button" style="display:none">Sign out</button>
	<!-- Side Panel control javascript !-->
	</div>
</nav>

<nav class="navbar bg-secondary" role="navigation">
	<ul class="nav">
		<li class="nav-item active">
			<a class="nav-link text-light" href="houses.html">Houses</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="cars.html">Cars</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="electronics.html">Electronics</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="goods.html">Goods</a>
		</li>
	</ul>
</nav>

</header>
<div class="main-product">
	<div class="main-product-top">


	<div class="product-basic">
		<div class="product-rating">
			{{.AverageStars}} stars
		</div>
		{{with .Product}}
		<img src="assets\images\{{.Image}}" alt="product-image">
		<div class="product-info">
			
			<div>
				<h2>{{.Name}}</h2>
				<p>{{.Description}}</p>
			</div>
			<div class="product-price">
				<p>${{.Price}}</p>
			</div>
			
		</div>
		{{end}}
	</div>

	<div class="product-side">
		<div class="product-cart">
			{{with .Product}}
			<a href="/addCart?proid={{.ID}}&productname={{.Name}}">
			<button class="cartButton btn btn-primary"type="button" name="button">
				ADD TO CART
			</button>
				{{end}}
			</a>
		</div>
		<hr>
		<div class="product-feedback">
			<!-- number of comments !-->
			{{with .Product}}
			<form method="POST" action="/addComment?product={{.ID}}" class="product-addComment">
			{{end}}
				<textarea name="cmessage" id="commentAdd" cols="50" rows="5" placeholder="What do you think of the product"></textarea>
				<br>
				<label for="commentRating">Stars:</label>
				<select name="crating" id="commentRating">
					<option value="5">5 stars</option>
					<option value="4">4 stars</option>
					<option value="3">3 stars</option>
					<option value="2">2 stars</option>
					<option value="1">1 stars</option>
				</select>
				<br>
				<input class="btn btn-secondary" type="submit"></input>
			</form>
		</div>
		
	</div>
	</div>
	<hr>
	{{with .Comments}}
	{{range .}}
	<div class="main-product-bottom">
			<div class="product-comments">
					
					<p class="comment-time">{{.PlacedAt}}</p>
					<p class="comment-username">{{.Name}}</p>
					<p class="comment-message">{{.Message}}</p>
					<p class="comment-stars">{{.Rating}} stars</p>
				</div>
	</div>
	{{end}}
	{{end}}
</div>
{{template "footer.html"}}
</body>



</html>
