<!DOCTYPE html>
<html>

<head>
<title>Dilela Online</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</head>


<body>
{{template "navbar.html"}}
<div class="search-content">

	<div class="search-filters" style="display: none">
		<div class="filter">
			Category filter
			<form class="category-filter" action="index.html" method="post">
			<label>House</label>
			<input type="checkbox" name="category-check">
			<br>
			<label>Cars</label>
			<input type="checkbox" name="category-check">
			<br>
			<label>Electronics</label>
			<input type="checkbox" name="category-check">
			<br>
			<label>Goods</label>
			<input type="checkbox" name="category-check">
			</form>
		</div>

		<div class="filter">
			Rating filter
			<form class="rating-filter" action="index.html" method="post">
				<label>Ratings</label>
				<select class="price-options" name="">
					<option value="">none</option>
					<option value="">5 stars</option>
					<option value="">4 stars</option>
					<option value="">3 stars</option>
					<option value="">2 stars</option>
					<option value="">1 star</option>
				</select>

			</form>

		</div>
		<div class="filter">
			Price filter
			<form class="price-filter" action="index.html" method="post">
				<label>Price</label>
				<select class="rating-options" name="">
					<option value="">none</option>
					<option value="">1$ - 100$</option>
					<option value="">100$ - $500</option>
					<option value="">500$ - $1000</option>
					<option value="">$1000 - $10000</option>
				</select>
			</form>
		</div>

	</div>

	<div class="search-box">
		<div class="search-box-top">
			Search results

			<div class="sort float-right">
				<form class="sort-form" action="index.html" method="post">
					<label>Sort by</label>
					<select class="sort-options" name="">
						<option value="">By Rating ascending</option>
						<option value="">By Rating descending</option>
						<option value="">By Price ascending</option>
						<option value="">By Price descending</option>
					</select>
				</form>
			</div>
		</div>
		{{range .}}
			{{with .}}
		<div class="search-product">
			<a href="/product?id={{.ID}}">
			<img src="assets\images\{{.Image}}" alt="product">

			<div class="product-info">
			<h2>{{.Name}}</h2>
			<p>{{.Description}}</p>
			<p>${{.Price}}</p>
			</div>
			</a>
			<div class="product-cart">
				<button class="btn btn-primary" type="button" name="button">ADD TO CART</button>
			</div>
		</div>
				{{end}}
		{{end}}
		<div class="search-box-bottom">
			<!-- Replace 10 with page numbers !-->
			<script type="text/javascript">
				for(var i=0; i < 10; i++) {
					document.write("<button type=\"button\" name=\"button\">"+ i +"</button>");
				}
			</script>
		</div>
		</div>

	</div>

</div>

{{template "footer.html"}}
</body>



</html>
